@import "../../ddm-style/sass/main.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
div,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4 {
  margin: 0;
  // padding: 0;
  font-style: normal;
  // font: 12px/22px "\5B8B\4F53", Arial, Helvetica, sans-serif;
}
ol,
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
    color: #000000;
    background: #fff;
}
.clear {
  clear: both;
  height: 1px;
  width: 100%;
  overflow: hidden;
  margin-top: -1px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ba2636;
  text-decoration: underline;
}
textarea{
 font-family: Avenir, Helvetica, Arial, sans-serif;;
}




.el-select {
  width: 100%;
}
.el-textarea{
  font-size: 12px;
}
.el-button {
  // padding: 0;
  font-size: 12px;
}
.el-table--scrollable-x .el-table__body-wrapper {
  overflow-x: hidden;
}
.el-table {
  font-size: 12px;
}
.el-form-item__error {
  width: 250px;
  padding-top: 0;
  position: relative;
}
.el-form-item__label {
  line-height: 30px;
  font-size: 12px;
}
.el-form-item__content {
  // margin-bottom: 5px;
  width: 250px;
  line-height: 30px;
  font-size: 12px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 250px;
}
.el-input__inner {
  width: 250px;
  height: 30px;
  line-height: 30px;
}
.el-input{
  font-size: 12px;
}
.el-form-item {
  margin-bottom: 5px;
}
.el-form-item.Email,
.el-form-item.Mobile {
  margin-bottom: 0;
}
.el-input__icon {
  line-height: 30px;
}

$Topheight: 90px;
$Sidebar-width: 450px;
$gap-width: 15px;
$main-width: 1080px;
$offset-bottom: 30px;

$header-hight:40px;
$font-size-height:30;